<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Galpões & Estoque</h1>
      <nav>
        <ul>
          <li>
            <% if user_signed_in? %>
              <%= button_to 'Sair', destroy_user_session_path, method: :delete %> | <%= current_user.name %> (<%= current_user.email %>)
            <% else %>
              <%= link_to 'Entrar', new_user_session_path %>
            <% end %>
          </li>
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li>
            <%= link_to 'Fornecedores', suppliers_path %>
          </li>
          <li>
            <%= link_to 'Modelos de Produtos', product_models_path %>
          </li>
          <li>
            <%= link_to 'Pedidos', orders_path %>
          </li>
        </ul>
      </nav>
    </header>
    
    <main>
      <div>
        <p class="alert"><%= alert %>
        <p class="notice"><%= notice %>
      </div>
      <%= yield %>
    </main>

  </body>
</html>
